.total-padding{
    margin-bottom: 50px;
}
.bootom-padding{
    margin-bottom: 80px;
}
.container{
    padding-bottom:50px;
}

.bg-color-header{
    background-color: #F0FFF0;
}
.button{
    border-radius: 25px;
}

.card-bd{
    border: none;
    background-color: #F0FFF0;
    border-radius: 30px;
    border-radius: 20px 0px 20px 0px;
}

.card-bd img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.shadow{
    border-radius: 12px 0px 12px 0px;
    box-shadow: 10px 10px 40px slategrey;
    background-color: #ffffff;
}


.card-img-top{
    padding: 20px 20px;
}

.card-bg-2{
    border-radius: 12px;
    box-shadow: 5px 20px 30px rgb(190, 193, 196);
    
}

.card-footer{
    border: none;
    background-color: #FFFFFF;
}



.man-img-right{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


.text-aling{
    padding: 40px 0px 0px 0px;
}

li
{
  list-style-type: none;
  margin-left: 1vw;
}

li:first-child
{
  margin:0;
}


footer
{
  padding-top: 5vh;
  padding-bottom: 2vh;
}


.copyright,  .impressum
{
  text-align: center;
}

.logo
{
  height: 8vh;
}

@media (max-width: 768px) 
{
  li
  {
    margin-left: 0;
    margin-bottom: 1vh;
  }
  
  .sozial
  {
    margin-bottom: 1vh;
  }
}
  
    .img{
        width: 20%;
    }


